</main>

<footer>
  <p>&copy; <%= new Date().getFullYear() %> IkoConnect. All rights reserved.</p>
</footer>

<div id="toast" class="toast"></div>

<script src="/js/script.js"></script>
</body>
</html>
