<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= typeof title !== 'undefined' ? title : 'IkoConnect' %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header>
    <div class="navbar">
      <h1><a href="/" style="color:white">IkoConnect</a></h1>
      <button class="nav-toggle" aria-label="Toggle Menu">&#9776;</button>
      <nav class="nav-menu">
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
        <a href="/resources">Resources</a>
        <a href="/jobs">Jobs</a>
        <a href="/about">About</a>
        <a href="/signup">Sign Up</a>
        <a href="/contact">Contact</a> <!-- нов линк -->
      </nav>
    </div>
  </header>

  <main>
