<header>
    <nav>
        <a href="/" class="logo">IkoConnect</a>
        <button class="hamburger" id="hamburger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <div class="menu" id="menu">
            <a href="/blog">Blog</a>
            <a href="/resources">Resources</a>
            <a href="/jobs">Jobs</a>
        </div>
    </nav>
</header>
