<%- include('../partials/header') %>

<section class="text-center">
  <h1 class="text-danger">500 - Server Error</h1>
  <p>Oops! Something went wrong while loading the blog.</p>
</section>

<%- include('../partials/footer') %>
