<%- include('../partials/header', { originalUrl: originalUrl }) %>

<section class="text-center">
  <h2>Welcome to IkoConnect!</h2>
  <p>Your hub for remote work & freelance success.</p>

  <form action="/subscribe" method="POST" class="mt-3">
    <input type="email" name="email" placeholder="Enter your email" required />
    <button type="submit">Subscribe</button>
  </form>
</section>

<%- include('../partials/footer') %>
