<%- include('../partials/header') %>

<section>
  <h2>Recommended Tools</h2>
  <ul class="resources-list">
    <% tools.forEach(tool => { %>
      <li><a href="<%= tool.link %>" target="_blank"><%= tool.name %></a></li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>

